body {
  font-family: 'Montserrat', sans-serif;
  background-color: black;
  display: flex;
  justify-content: center;
}
#App {
  margin-left: 10px;
}
#bgDiv {
  position: absolute;
  background-color: white;
  width: 600px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  height: 100%;
  z-index: -1;
  background-image: url("../content/spotify-bg.jpg");
  background-size: 450px;
  background-position: center 60%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
#endDiv {
  margin: 10px;
}
#topContainer {
  background-color: white;
  width: 600px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

#resultsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flexContainer {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}
.album .artists {
  font-size: 14px;
}
.artist {
  display: flex;
  flex-flow: column-wrap;
  overflow: auto;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}
.artistImg {
  height: 170px;
  width: 170px;
  border-radius: 100px;
  margin: 4px;
  float: left;
}
.artist span {
  text-align: left;
  margin: 5px 0 5px 30px;
}
.artist > .name {
  max-width: 200px;
  font-size: 24px;
}
.artist span:after, .relatedArtist span:after {
  content: "\A";
  white-space: pre;
}
ul {
  margin-left: 30px;
  padding:0;
}
li {
  display: inline-block;
}
.artist .followers, .artist .genres, .album .tracks {
  font-size:12px;
}
.artist .followers, .artist .genres {
  word-wrap: break-word;
  max-width: 300px;
  margin-top: 0px;
}
.artistProfileContainer {
  display: flex;
  justify-content: left;
  flex-direction: column;
  width: 300px;
}
.dropdown {
  margin: 4px;
  width: 50px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  text-align: center;
  background-color: white;
}
.name {
  font-weight: bold;
  margin-bottom: 0px;
}
.name a:link, .name a:visited {
  text-decoration: none;
  color: black;
}
.name a:hover, .name a:active {
  text-decoration: underline;
}
.relatedArtist, .album {
  display: flex;
  flex-flow: column-wrap;
  justify-content: left;
  width: 360px;
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-left: 30px;
}
.relatedArtistImg, .albumImg {
  height: 50px;
  width: 50px;
  border-radius: 30px;
  margin: 2px;
  float: left;
}
.albumImg {
  border-radius: 0px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.relatedArtist .name, .album .name {
  max-width: 300px;
  font-size: 20px;
}
.album .name, .search, .dropdown {
  font-size: 16px;
}
.search {
  margin: 4px;
  width: 300px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  text-align: center;
  background-color: white;
  background-image: url("../content/spotify.ico");
  background-size: 25px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 45px;
  -webkit-transition: width 0.8s ease-in-out;
  transition: width 0.8s ease-in-out;
}
.artist, .search:focus {
  width: 590px;
}
.topTracksPlayer {
  width: 350px;
  height: 380px;
}
.albumPlayer {
  width: 250px;
  height: 300px;
}
.topTracks, .albums, .relatedArtists, .album .tracks, .artistProfile .genres, .relatedArtist .name, .album.name {
  cursor: pointer;
}
.topTracksContainer, .albumTracksContainer {
  margin: 0 0 0 30px;
}
@media (max-width: 600px) {
  #bgDiv, #topContainer{
    width: 380px;
    background-size: 350px;
  }
  .artist, .search:focus {
    width: 370px
  }
  .artistImg {
    height: 0;
    width: 0;
    border-radius: 0;
    margin: 0;
    float: left;
  }
  .albumPlayer {
    width: 200px;
  }
  .topTracksPlayer {
    width: 330px;

  }
  .relatedArtist .name, .album .name {
    max-width: 100px;
    font-size: 14px;
  }
  .artist > .name {
    max-width: 200px;
    font-size: 18px;
  }

}
